body
{
  data-disable-scrolling="false" !important;
  data-disable-scrolling: false;
  margin: 50px;
  font-family:  "Roboto", sans-serif;
  border: 0.1px solid;
  border-color:#f7f7f7;
}
#title1 a {color:#fff;}
#title
{
  position: relative;
  height:50px;
  background: #00695C;
  font-size: 16px;
  text-align: center;
  line-height: 3em;
  color: #FFFFFF;
  }
  #title1
    {
    position: relative;
    height:35px;
    margin-top: -17px;
    background: #6EAEBB;
    font-size: 16px;
    line-height: 2em;
    color: #FFFFFF;
    text-indent: 1em;
    }



#title2
{
height:25px;
font-size: 22px;
margin-left: 20px;
line-height: 2em;
color: #3299BB;
}
#container{margin-left: 10px;}
#global {
    width:560px;
    height: 220px;
    border: 1em;
    margin: 0 0 3em 0;
    padding-top: 3px;
    background-color: #f7f7f7;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);

    margin-left: 20px;
  }

a
{
  text-decoration: none;
  color:#3299BB;
  margin-left: 5px;
}

#menu
{
  margin:4px;
  width: 550px;
  height: 35px;
  background-color: #FFF;
  color: #9e9e9e;
  box-shadow: 0 0 5px rgba(0.2,0.2,0.2,0.2);
  border-radius: 0,1em;
  overflow: hidden;
  line-height: 2em;
}
#menu:hover
{
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
#information {
width: 350px;
border: 0;
margin: 0 0 2em 0;
margin-left: 800px;
margin-top: -250px;
padding: 1em;
background-color: #fff;
box-shadow: 0 0 5px rgba(0,0,0,0.2);
overflow: hidden;
border-radius: 0.3em;
}

#bllock
{ font-weight: 500;
   font-size: 16px;
   background-color: #f7f7f7;
margin: -0.824em -0.824em 0.824em -0.824em;
 padding: 0.7em; box-shadow: 0 0 3px rgba(0,0,0,0.1);
border-radius: 0.3em 0.3em 0 0;
 }

.subject
{
margin-left: 20px;
}
#filter
{
box-shadow: 0 0 5px rgba(0,0,0,0.2);

}

#maintable
{
height: 600px;
overflow-y: scroll;
  overflow-x: scroll;
  margin-left: 10px;
   }
   #maintable3{
     height: 600px;
     overflow-y: scroll;
       overflow-x: scroll;
    /*   width:1000px;*/
       align-content: center;
       margin-left: 10px;

   }
  #maintable2
  {
    overflow-x:scroll;
    height: 400px;
    overflow-y: scroll;

  }


#information2 {
  width: 190px;
position: relative;
margin-left: 15px;
border: 0;
padding: 1em;
background-color: #fff;
box-shadow: 0 0 5px rgba(0,0,0,0.2);
border-radius: 0.3em;

}
footer, nav, header, section, aside {

display: block

}
